// When color definition differs for dark and light variant
// it gets @if ed depending on $variant


$base_color: if($variant == 'light', #919BA7, #333845);
$text_color: if($variant == 'light', #000000, #E3E3E3);
$bg_color: if($variant == 'light', #9BA6AF, #3B414F);
$fg_color: if($variant == 'light', #000000, #E3E3E3);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', #2B303B, darken(#2B303B, 10%));
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 20%), lighten($base_color, 20%));
$borders_color: if($variant == 'light', darken($bg_color, 10%), lighten($bg_color, 5%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 35%), darken($bg_color, 5%));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($fg_color, 0.93));
$link_color: #4a90d9;
$link_visited_color: #2a76c6;
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: if($variant == 'light', lighten($bg_color, 5%), darken($bg_color, 0%));
$menu_color: if($variant == 'light', $base_color, mix($bg_color, $base_color, 20%));
$popover_bg_color: $bg_color;
$popover_hover_color: lighten($bg_color, 15%);

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 25%));

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #7E88A6;
$destructive_color: if($variant == 'light', #D12424, darken(#D12424, 10%));

$osd_fg_color: #E3E3E3;
$osd_text_color: #E3E3E3;
$osd_bg_color: transparentize(#2B303B, 0.2);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(#2B303B, 0.3);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($selected_bg_color, 0.7);

$tooltip_borders_color: transparentize($borders_color, 0.8);
$shadow_color: transparentize(#2B303B, 0.9);

$drop_target_color: lighten($selected_bg_color, 25%);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
